.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: #001028;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(dimension.png);
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}

.invoice-box{
	max-width:800px;
	margin:auto;
	padding:30px;
	border:1px solid #eee;
	box-shadow:0 0 10px rgba(0, 0, 0, .15);
	font-size:16px;
	line-height:24px;
	font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	color:#555;
}

.invoice-box table{
	width:100%;
	line-height:inherit;
	text-align:left;
}

.invoice-box table td{
	padding:5px;
	vertical-align:top;
}

.invoice-box table tr td:nth-child(2){
	text-align:right;
}

.invoice-box table tr.top table td{
	padding-bottom:20px;
}

.invoice-box table tr.top table td.title{
	font-size:45px;
	line-height:45px;
	color:#333;
}

.invoice-box table tr.information table td{
	padding-bottom:40px;
}

.invoice-box table tr.heading td{
	background:#eee;
	border-bottom:1px solid #ddd;
	font-weight:bold;
}

.invoice-box table tr.details td{
	padding-bottom:20px;
}

.invoice-box table tr.item td{
	border-bottom:1px solid #eee;
}

.invoice-box table tr.item.last td{
	border-bottom:none;
}

.invoice-box table tr.total td:nth-child(2){
	border-top:2px solid #eee;
	font-weight:bold;
}

@media only screen and (max-width: 600px) {
	.invoice-box table tr.top table td{
		width:100%;
		display:block;
		text-align:center;
	}

	.invoice-box table tr.information table td{
		width:100%;
		display:block;
		text-align:center;
	}
}
